.box {
    padding-top: 10%;
    text-align: center;
}

.header {
    font-size: xx-large;
    padding: 20px;
}

.list-of-task-div {
    display: flex;
    justify-content: center;
}

.task-div {
    display: flex;
}

.button {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
}