.box {
    padding-top: 10%;
    text-align: center;
}

.header {
    font-size: xx-large;
    padding: 20px;
}

.input-group {
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    /* text-align: center; */
    justify-content: center;
    margin-bottom: 10px;
    /* width: 60%; */

}

.input-group label {
    width: 100px;
}




*/ .submit-button {
    margin-top: 10px;
}